{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-5" style="margin bottom:100px">
    <div class="row">
        <h3 class="text-center text-light">Shopping Cart</h3>
        <div class="col-8">
            <table class="table table-bordered table border-dark">
                <tr>
                    <th colspan="7">Cart Items</th>
                </tr>
                {% for i in cart %}
                <tr>
                    <td><img src="{{ i.product.image.url }}"height="150px" width="100px"></td>
                    <td>{{ i.product.name }}</td>
                    <td>Product ID:{{ i.product.id }}<br>
                        Quantity:{{ i.quantity }}<br>
                        Unit Price:{{ i.quantity }}*{{ i.prdouct.price }}</td>
                    <td>Subtotal:{{ i.subtotal }}</td>
                    <td>
                        {% if i.product.stock > 0 %}
                        <a href="{% url 'cart:addtocart' i.product.id %}"><i class="fa-solid fa-circle-plus me-2"></i></a>
                        <a href="{% url 'cart:cartremove' i.product.id %}"><i class="fa-solid fa-circle-minus me-2"></i></a>
                        <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash-can me-2"></i></a>
                        {% else %}
                             <a href="{% url 'cart:cartremove' i.product.id %}"><i class="fa-solid fa-circle-minus me-2"></i></a>
                             <a href="{% url 'cart:full_remove' i.product.id %}"><i class="fa-solid fa-trash-can me-2"></i></a>
                        {% endif %}
                    </td>
                     </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4">
            <table class="table table-bordered">
                <tr>
                    <th colspan="4">Check Out</th>
                </tr>
                <tr>
                    <td colspan="4">Total Amount:{{ total }}</td>
                </tr>
            </table>
            <a class="btn btn-light" href="{% url 'cart:orderform' %}">Place Order</a>
            <a class="btn btn-primary" href="{% url 'shop:allcategories' %}" >Continue Shopping</a>
        </div>

    </div>
</div>
{% endblock %}