{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-6">
    <div class="row">
        <div class="col-4 me-5">
    <img class="mt-2" src="{{ p.image.url }}" height="400px" width="400px">
        </div>
        <div class="col-6 me-5 mt-2 pt-3" style="padding-left:100px;">
         <h2>{{ p.name }}</h2>
         <p style="text-align:justify;line-height:1.8;">{{ p.desc }}</p>
         <h3>Price:{{ p.price }}</h3><br>
         <h5>Stock:{{ p.stock }}</h5><br><br>
            {% if user.is_superuser == True %}

            {% if p.stock > 0 %}
            <h3 class="text-dark">In Stock</h3>
            <a href="{url 'admin:index' %}" class="btn btn-primary mt-4" style="width:300px">Add Stock</a>
            {% else %}
            <h3 class="text-dark">Out of Stock</h3>
            <a href="{% url 'admin:index' %}" class="btn btn-primary mt-4" style="width:300px">Add Stock</a>
            {% endif %}

            {% else %}
            {% if p.stock > 0%}
         <a href="{% url 'cart:addtocart' p.id %}" class="btn btn-primary" style="width=300px;">Add to Cart</a>
            {% else%}
            <h3 class="text-light">Out of Stock</h3>
            {% endif %}

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}